h1 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}
h2 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: left;
}
h3 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}
p {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: left;
}
.tennisBall {
  height: 50px;
  width: 50px;
  position: absolute;
}
#dog {
  height: 250px;
  width: 500px;
}
