h1 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}
h2 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: left;
}
h3 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: left;
}
p {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: right;
}
